$forest: #2a482e;
$hemlock: #48774e;
$mustard: #D8973C;
$gold: #BD632F;
$whiteish: #ece5d5;
$brown-light: #D8C99B;
$brown-med: #867b65;
$brown-dark: #6c6754;
$grey: #49484d;
$primary-accent: #011638;
$red: #931F1D;