// The rounded boxes where content is displayed
.card {
    background-color: $primary-light;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: $radius;

    color: $primary-dark;

    h1 {
        color: $primary-dark;
        text-shadow: initial;
        margin: 0;
    }

    pre, code {
        background-color: $code;
        color: $primary-light;
        padding: 3px;
        border-radius: 5px;
        white-space: break-spaces;
    }

    img {
        width: 100%;
        border-radius: $radius;
    }

    p {
        margin: 0 0 15px 0;
        line-height: 1.3;

        &.subtitle {
            font-size: 12px;
        }
    }

    a, a:visited {
        color: $primary-dark;
    }
}