nav {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1.8em;
    margin-left: 30px;
    margin-right: 30px;
    flex-flow: row wrap;

    ul {
        list-style-type: none;
        margin: 0;
        
        li {
            display: inline-block;
        }

        li + li {
            margin-left: 15px;
        }

        a.active {
            border-bottom: 2px solid $primary;
        }
    }

    a {
        text-decoration: none;
        color: $primary-light;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid $primary-light;
        }

        &.active {
            color: $primary;
        }
    }

    @include mobile {

        text-align: center;
        font-size: 1.6em;
        margin-left: 2.5%;
        margin-right: 2.5%;

        div.home {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        ul {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
        }
    }
}