ul.filters {
    a {
        text-decoration: none;
        padding: 0 6px 0 6px;
        border-radius: 7px;
        border: 2px solid $secondary-dark;

        &:hover {
            text-decoration: none;
            background-color: $secondary-dark;
            color: $primary-light;
        }
    }
}

ul.terms-tags, ul.pagination {
    padding: 0;
    user-select: none;

    li {
        list-style-type: none;
        display: inline-block;
        margin-bottom: 15px;

        &.active a {
            background-color: $primary;
            color: $primary-dark;
        }

        &.disabled a {
            border-color: gray;
            color: gray;

            &:hover {
                background-color: initial;
            }
        }
    }

    a {
        text-decoration: none;
        padding: 5px 15px 5px 15px;
        border-radius: 7px;
        border: 2px solid $primary-light;
        color: $primary-light;
        font-size: 1.2em;
        font-weight: bold;

        &:hover {
            text-decoration: none;
            background-color: $primary;
            color: $primary-dark;
        }
    }
}