{{ define "main" }}

    <div class="head">
        <h1>{{.Title}}</h1>
    </div>
    {{ range .Paginator.Pages }}
        <div class="card">
            <h2><a href="{{ .Permalink }}">{{.Params.Title}}{{ if .Params.draft }} [draft]{{ end }}</a></h2>
            {{ if .Params.date }}
                <p class="subtitle">{{ .Date | time.Format (default "January 2, 2006" .Site.Params.DateFormat) }}</p>
            {{ end }}
            {{ if .Params.description }}
                <p>{{ .Params.description }}</p>
            {{ else }}
                <p>{{ .Summary }}</p>
            {{ end }}
            {{ partial "tags" . }}
        </div>
    {{ end }}

{{ template "_internal/pagination.html" . }}

{{ end }}